<h2>Iniciar Sesión</h2>
<form action="{% url 'iniciar_sesion' %}" method="post" id="form-login">
    {% csrf_token %}
    <div class="campo">
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" id="email" required />
    </div>
    <div class="campo" id="campo-contrasena">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <div class="contenedor-enlaces-boton">
        <div class="enlaces-rec-crea">
            <a href="{% url 'mostrar_formulario' 'recupera_contrasena' %}">Recuperar contraseña</a>
            <a href="{% url 'mostrar_formulario' 'registro' %}">Crear cuenta</a>
        </div>
        <button type="submit" id="boton-formulario">Entrar</button>
    </div>
</form>