html, body {
    height: 100%;
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenedor-tabla {
    flex: 1;
    overflow-y: auto;
    max-width: 100vw;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

table th,
table td {
    white-space: normal;
    word-break: break-word;
}

.contenedor-boton-agregar-cancelar {
    align-items: center;
    display: flex;
    margin: 10px;
    justify-content: right;
}

.boton-agregar-cancelar {
    background-color: rgba(9, 255, 0, 0.5);
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    padding: 10px;
    width: max-content;
}

.boton-agregar-cancelar:hover {
    background-color: rgba(9, 255, 0, 0.7);
}

table, 
table th, 
table td {
    border: 1px solid #000;
    border-collapse: collapse;
}

table th, 
table td {
    padding: 10px;
    text-align: center;
}

table .gestion {
    display: flex;
    justify-content: center;
}

table .gestion a {
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
}

table .gestion a:nth-child(1) {
    color: rgba(0, 81, 255, 0.5);
}

table .gestion a:nth-child(2) {
    color: rgba(255, 0, 0, 0.5);
}

table input {
    width: 100%;
}

table input[type="number"]::-webkit-outer-spin-button,
table input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para firefox */
table input[type="number"] {
    -moz-appearance: textfield;
}

table .boton-enviar {
    background-color: rgba(0, 81, 255, 0.5);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    height: 30px;
    width: 100px;
}

table .boton-enviar:hover {
    background-color: rgba(0, 81, 255, 0.7);
}