:root {
    --incrustar: inset 5px 5px 15px #bebebe,
                 inset -5px -5px 15px #ffffff;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
}

header .contenedor-cabecera {
    display: flex;
    justify-content: space-between;
}

header .logo-titulo {
    align-items: center;
    box-shadow: var(--incrustar);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

header .logo-titulo img {
    height: 80px;
    width: 80px;
}

header .logo-titulo h1 {
    font-size: 26px;
}

header .contenedor-formulario {
    box-shadow: var(--incrustar);
    padding: 10px;
}

header .contenedor-formulario .contenedor-ua {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

header .contenedor-formulario .usuario-activo {
    padding: 10px;
}

header .contenedor-formulario .enlace-ts {
    color: rgba(0, 81, 255, 1);
}

header .contenedor-formulario h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

header form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

header form .campo {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

header form .contenedor-enlaces-boton {
    align-items: flex-end;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

header form button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    width: 100px;
}

header form .enlaces-rec-crea {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

header form .enlaces-rec-crea .rec-contra {
    color: rgba(0, 80, 255, 1);
}

header form .enlaces-rec-crea .cre-cuenta {
    color: rgba(0, 80, 255, 1);
}

header .contenedor-mensaje {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 100;
}

header .contenedor-mensaje .mensaje {
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 8px;
}

header .contenedor-mensaje .success {
    background-color: #397e49;
}

header .contenedor-mensaje .error {
    background-color: #bd1414;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

main h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

main .contenedor-ejercicios {
    align-items: center;
    display: flex;
    gap: 20px;
    padding: 0 10px;
    justify-content: space-between;
    width: 100%;
}

main .contenedor-ejercicios .card {
    border-radius: 2px;
    height: max-content;
    position: relative;
    z-index: 0;
    width: 100%;
}

main .contenedor-ejercicios .card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    opacity: 0.3;
    z-index: -1;
}

main .contenedor-ejercicios .card h3 {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
}

main .contenedor-ejercicios .card ol {
    list-style: none;
}

main .contenedor-ejercicios .card ol li {
    margin: 20px 0;
}

main .contenedor-ejercicios .card ol li a {
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 5px;
}

main .contenedor-ejercicios .contenedor-python {
    background-color: rgb(255, 215, 0, 0.5);
}

main .contenedor-ejercicios .contenedor-python::before {
    background-image: url('../img/python.png');
}

main .contenedor-ejercicios .contenedor-java {
    background-color: rgb(255, 80, 0, 0.5);
}

main .contenedor-ejercicios .contenedor-java::before {
    background-image: url('../img/java.png');
}

main .contenedor-ejercicios .contenedor-cpp {
    background-color: rgb(0, 110, 255, 0.5);
}

main .contenedor-ejercicios .contenedor-cpp::before {
    background-image: url('../img/cpp.png');
}

.botones-paginacion {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.botones-paginacion button {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
}

.botones-paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    left: 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    text-align: center;
}